/*
 * 2015/5/17 10:55
 * 2015-06-14 16:22:34
 */

ol, ul {
  list-style: none;
  padding: 0;
}

.well {
  margin-top: 20px;
}

.op-nav {
  padding: 15px 20px;
}
.op-nav li {
  margin-bottom: 7px;
}

.op-panel {
  padding: 15px 20px;
  width: 90%;
  border-left: 1px solid;
}
.op-panel .row {
  margin-bottom: 10px;
}

.header-user {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.header-user .btn {
  margin-left: 20px;
}
