/*
 * 2015/5/17 10:55
 * 2015-06-14 16:22:34; out to a single file
 */
.aside-tab-current {
  color: #f00;
}
.step-current {
  color: #f00;
}
#customers .selected {
  color: #f00;
}
.step-details {
  display: none;
}
.step-details.current {
  display: block;
}

.hide {
  display: none;
}

.my-btn {
  margin-right: 10px;
}
#controller {
  text-align: center;
}
.step-details-box {
  margin-top: 10px;
}
.step-details .item {
  width: 142px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.item-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50%;
}
.item-icon-album {
  background: url(http://s1.pan.bdstatic.com/yun-static/common-cdn/images/clouddisk-ui/spritenew-f.gif?t=1430995024773) 9999px 9999px no-repeat;
  background-position: -24px 0;
}
.item .widget {
  width: 22px;
  height: 22px;
  padding: 2px 4px;
  margin: 0 2px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  background: url(http://s1.pan.bdstatic.com/yun-static/common/images/btn_icon.gif?t=1430970061094)
}
.item .sure {
  background-position: -0px -512px;
}
.item .cancel {
  background-position: -27px -512px;
}

.item .box {
  width: 90px;
  height: 22px;
  padding: 2px 4px;
  vertical-align: middle;
}
.item .file-name-box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 新建客户
.form-control-feedback {
  position: absolute;
  left: 190px;
  top: 10px;
}
.help-block {
  top: 0px;
  position: absolute;
  left: 225px;
  white-space: nowrap;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-feedback .form-control {
  padding-right: 42px;
}