<!doctype html>
<html lang="zh-CN">
<head>
  <!-- <title>${ title }</title> -->
  <title>代金券管理</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/coupon-admin.css" />
</head>

<body class="container well">

<header class="header-user">
  <img src="/img/logo.png" />

  <span class="pull-right">
    <span id="photographer" data-photographer='{"id":"${photographers_id}"}'>XXX</span>，您好
    <a class="btn btn-warning" href="/users/logout">退出</a><div>
    </div>
  </span>

</header>

<nav class="pull-left op-nav">
  <ul>
    <li class="aside-tab-current"><a href="/users/gotoPhotoNewOrder.do?photographers_id=${photographers_id}">新增订单</a></li>
    <li><a href="/users/gotoPhotographerHome.do?photographers_id=${photographers_id}">首页</a></li>
    <li>客户管理</li>
    <li>摄影师管理</li>
    <li><a href="/admin/order">订单管理</a></li>
    <li><a href="/admin/comments">评价管理</a></li>
    <li><a href="/admin/coupon">代金券管理</a></li>
    <li>水印设置</li>
    <li>我的资金</li>
    <li>设置</li>
  </ul>
</nav>

<div class="pull-left op-panel coupon">

  <div class="form-inline clearfix">
    <div class="form-group col-md-12">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="代金券兑换码">
      </div>
      <button class="btn btn-info btn-exchange" data-target-class="accessible">兑换</button>
    </div>
  </div>
  
<!-- ftl
  <#list coupons as coupon>
    <table class="table table-bordered table-striped table-hover">
      <caption>${ coupon.type }</caption>
      <thead>
        <tr>
          <#list coupon.heads as title>
            <th>${ title }</th>
          </#list>
        </tr>
      </thead>
      <tbody class="${ coupon.tag }">
        <#list coupon.body as items>
          <tr>
            <#list items as item>
              <td>${ item }</td>
            </#list>
        </#list>
      </tbody>
    </table>
  </#list> 
-->

  <!-- ejs -->
  <% coupons.forEach(function (coupon) { %>
    <table class="table table-bordered table-striped table-hover">
      <caption><%= coupon.type %></caption>
      <thead>
        <tr>
          <% coupon.heads.forEach(function (title) { %>
            <th><%= title %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody class="<%= coupon.tag %>">
        <% coupon.body.forEach(function (items) { %>
          <tr>
            <% items.forEach(function (item) { %>
              <td><%= item %></td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% }); %>
</div>

<script src="/js/libs/requirejs/2.1.18/require.min.js"></script>
<script>
require(['/js/libs/requirejs/config.js'], function () {
  require(['main/coupon-admin']);
});
</script>
</body>
</html>
