# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# node test
server.js
views-node
aoxiuProject/aoxiuPhoto/src/main/config.js
test
java
.idea
target
.class