<div class="item">
  <a class="file-wrapper album" href="javascript:;" data-album="{&quot;id&quot;:&quot;0&quot;}" title="main_album_name#1">
    <div class="item-icon item-icon-album">
      <span class="item-checked"></span>
    </div>
    <div class="file-name-box">
      <span class="file-name {{hide_file_name}}">main_album_name#1</span>
    </div>
  </a>

  <div class="edit-name hide">
    <input class="box" type="text" data-name="main_album_name#1" />
    <span class="widget sure"></span>
    <span class="widget cancel"></span>
  </div>
</div>