<div class="item">
  <a class="file-wrapper album" href="javascript:;" data-album="{&quot;id&quot;:&quot;<%= album.id %>&quot;}" title="<%= album.name %>">
    <div class="item-icon item-icon-album">
      <span class="item-checked"></span>
    </div>
    <div class="file-name-box">
      <span class="file-name"><%= album.name %></span>
    </div>
  </a>

  <div class="edit-name hidden">
    <input class="box" type="text" value="<%= album.name %>" />
    <span class="widget sure"></span>
    <span class="widget cancel"></span>
  </div>
</div>