<img src="<%= photo.photoSrc %>" width="110" height="95" alt="<%= photo.photoNameOld %>" data-img="{&quot;id&quot;: &quot;<%= photo.photoId %>&quot;}" />
<span class="delete-icon" title="删除该相片">×</span>
<div class="pull-right photo-info">
  <div>名称：<%= photo.photoNameOld %></div>
</div>